<h1 class="text-center mt-4" style="color:#c88995;">Articles</h1>

<div class="container-fluid">
  <% @articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card articles-card-div">
          <h5 class="card-header article-header"><%= article.title %></h5>
          <div class="card-body">
            <h5 class="card-title"><%= article.description %></h5>
            <p class="card-text">By Fen Michael</p>
            <a href="#" class="btn btn-primary action-button">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article.id)%></td>
        <td><%= link_to 'Edit', edit_article_path(article)%></td>
        <%# in the course, he uses link_to but it's better to use button_to since it's more accessible/up to date %>
        <td><%= button_to 'Delete', article_path(article.id), method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Create new article', new_article_path %>
</p>