<h1 class="text-center mt-4" style="color:#c88995;">Articles</h1>

<div class="container-fluid">
  <% @articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card articles-card-div">
          <h5 class="card-header article-header"><%= link_to article.title, article_path(article), class:"article-show-link" %></h5>
          <div class="card-body">
            <h5 class="card-title"><%= article.description %></h5>
            <p class="card-text">By Fen Michael, created <%= time_ago_in_words(article.created_at) %> ago/edited <%= time_ago_in_words(article.updated_at) %> ago</p>
            <%= link_to 'View', article_path(article), class: "btn btn-primary action-button"%>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary action-button edit-button" %>
            <%= button_to 'Delete', article_path(article.id), method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"btn btn-primary action-button delete-button", form: {style:"display:inline-block;"}%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>